/* Universal Styles */
*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

/* Desktop/parent Styling */
html {
font-size: 16px;
font-family: 'Arial', 'Helvetica', sans-serif;
}

h1{
  font-size: 56px;
  font-weight: bold;
}

p,a{
  font-size: 20px;
  font-weight: bold;
}

#introduction, #projects, #contact {
  width: 30%;
  height:60vh;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 50px;
  margin-bottom: 200px;
}

#introduction h1 {
  padding-bottom: 20px;
}

.topnav {
  background-color: #B3D9FF;
  overflow: hidden;
}

.topnav a { /* Styling the links inside the nav buttons */
  display: inline-block;
  float: right;
  color: black;
  text-align: center;
  padding: 14px 20px 14px 20px;
  margin: 10px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
  background-color: white;
}

.topnav a:hover { /* change the colour of the links on mouse hover */

  color:black;
  transform: scale(1.1)
}

.topnav a.active { /* change color of the active link */
  background-color: dodgerblue;
  color: white;
}


/* Mobile Styling */
@media screen and (max-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  #introduction, #projects, #contact{
    margin: 1vw;
    height: 90vh;
    width:90vw;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .topnav a {
    display: inline-block;
    float: right;
    color: black;
    text-align: center;
    padding: 2vh 5vw 2vh 5vw;
    margin: 2vh;
    text-decoration: none;
    font-size: 0.7rem;
    border-radius: 5px;
    background-color: white;
  }
}
