/* CSS Reset */
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
       /*border: 1px solid red;*/
    }

html {
  font-size: 16px; /* converts browser standard 16px to 10px to make rem maths easier */
}

/* Set global font styles */
body {
  font-family: 'Raleway', 'Helvetica', sans-serif;;
  font-weight: lighter;
}

/* Generic style classes */
.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Generic main container for each section */
.container {
  width: 100vw;

  min-height: 600px;
}

/* Home splash screen styling */
.splash {


}

.splash-text{
  font-size: 1.3rem;
  text-align: center;
  color: white;
}

.splash-background{
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(98,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.section-header {
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  padding: 20px;
}

/* Button styling and psuedo-class behaviour */
.button {
  border: 0.2rem solid white;
  margin: 2rem;
  padding: 1rem;
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
}

.button:hover {
  background-color: #00aaff;
  border-color: #00aaff;
  transition-duration: 0.5s;
}

.black {
  border: 0.2rem solid black;
  color: black;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.nav-links a {
  color: white;
  padding: 20px;
  margin: 10px;
  text-decoration: none;
}

.nav-links a:hover {
  color: #ba1d28;
  transition-duration: 0.5s;
}

.nav-links a:active{
  color: #ba1d28;
}

#about-content {
  width: 80%;
}

.profile-photo {
  border-radius: 300px;
  height: 200px;
  padding: 20px;
}


.topnav {
  height: 50px;
  width: 100vw;
  flex-direction: row;
  background-color: #536878;
  top: 0;
  position: sticky;
  z-index: 2;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.gallery-tile {
  width: 100vw;
  height: 67vw;
  background-color: dodgerblue;
  text-align: center;
  display: inline-block;
  position: relative;
}

.contact-strip {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact-strip a, button {
  padding: 20px;
}

/* Landscape phones and tablets */
@media screen and (min-width: 500px) {
  .gallery-tile {
    width: 50vw; /* makes gallery go back to tiles instead of list style */
    height: 33.3vw;
  }
}

/* Desktop Styles */
@media screen and (min-width: 1100px) {
  .container {
    height: 100vh;
  }
  /* Adjust font sizes for desktop */
  .body {
    font-size: 3.2rem;
  }


  .splash-text {
    font-size: 3.6rem;
  }

  .section-header {
    font-size: 3.2rem;
  }

  .button {
    font-size: 2.4rem;
  }

  #gallery {
    max-width: 1200px;
  }
  /* Add off grey background to highlight section differences (looks weird on mobile) */
  #projects {
    background-color: #f5f5f5;
  }
  /* flexbox adjustments to get column style layout in about me section */
  #about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    max-width: 1200px;
  }

  #about-content ul {
    width: 50%;
  }

  .topnav {
    justify-content: space-between;
  }
  /* make profile photo bigger for desktop */
  .profile-photo {
    width: 300px;
    height: 300px;
    border-radius: 300px;
  }
  /* make project gallery tiles bigger for desktop */
  .gallery-tile {
    width: 300px;
    height: 200px;
    margin: 20px;
  }

/* FORM STYLES */
        #contact-form {
          border: 0.25rem solid black;
          border-radius: 0.5rem;
          position: fixed;
          top: 0px;
          left: 0px;
          width: 40vw;
          background-color: rgba(0,0,0,0.5);

        }

        .form-group {
          margin: 1rem;
          display: flex;
          justify-content: flex-end;
          width: 80%;
          margin: 1rem;
        }

        .form-group > label {
          color: white;
          font-weight: bold;
          flex: 1;
          padding: 0.5rem;

        }
        .form-group > input {
          flex: 4;
        }

        .form-group > textarea {
          flex: 1;
        }

        textarea, input {
           background-color: white;
           border-radius: 0.15rem;
           padding: 0.2rem;
           font-family: helvetica, sans-serif;
        }

        textarea:focus, input:focus {
          border: 0.15rem solid blue;
        }

        textarea{
          width: 80%;
          box-sizing: border-box;
        }
