/* CSS Reset */
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
       /*border: 1px solid red;*/
    }

/* Set global font styles */
body {
  font-size: 16px;
  font-family: 'Raleway', 'Helvetica', sans-serif;;
  font-weight: lighter;
}

/* Generic style classes */
.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Generic main container for each section */
.container {
  height: 100vh;
  width: 100vw;
}

/* Home splash screen styling */
.splash {
  background: rgb(2,0,36);
  background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(98,9,121,1) 35%, rgba(0,212,255,1) 100%);
  font-size: 36pt;
  line-height: 40pt;
  text-align: center;
  color: white;
}

.section-header {
  font-weight: lighter;
  text-align: center;
  flex-basis: 32px;
  font-size: 32pt;
  padding: 20px;
}

/* Button styling and psuedo-class behaviour */
.button {
  border: 2px solid white;
  margin: 20px;
  padding: 10px;
  font-size: 24pt;
  text-decoration: none;
  color: white;
}

.button:hover {
  background-color: #00aaff;
  border-color: #00aaff;
  transition-duration: 0.5s;
}

.black {
  border: 2px solid black;
  color: black;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.nav-links a {
  border-radius: 5px;
  color: white;
  padding: 20px;
  margin: 10px;
  text-decoration: none;
}

.nav-links a:hover {
  color: #ba1d28;
  transition-duration: 0.5s;
}

.nav-links a:active{
  color: #ba1d28;
}



#about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}


.profile-photo {
  border-radius: 200px;
}

/* Desktop Styles */
.topnav {
  height: 50px;
  flex-direction: row;
  background-color: #536878;
  justify-content: space-between;
}

/* Gallery Styles */
#projects {
  background-color: #f5f5f5;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
}

.gallery-tile {
  width: 300px;
  height: 200px;
  background-color: dodgerblue;
  margin: 20px;
  text-align: center;
  display: inline-block;
  position: relative;
}

/* Contact styles */
#contact {
  height: 50vh;
}

.contact-strip {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact-strip a {
  padding: 20px;
}




/* Mobile Styles */
