/* CSS Reset */
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
       /*border: 1px solid red;*/
    }

html {
  font-size: 16px; /* converts browser standard 16px to 10px to make rem maths easier */
}

/* Set global font styles */
body {
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-weight: lighter;
}

/* TOPNAV BLOCK */
.topnav {
  display: flex;
  height: 50px;
  width: 100vw;
  flex-direction: row;
  background-color: rgb(2,0,36);
  border-bottom: 0.2rem solid rgb(0,212,255);
  top: 0;
  position: sticky;
  z-index: 2;
}

.topnav__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  color: white;
}

.topnav__link {
  padding: 20px;
  margin: 10px;
  color: white;
  text-decoration: none;
}

.topnav__link:hover {
  color: rgb(98,1,121);
  transition-duration: 0.5s;
}

.topnav__link:active {
  color: #ba1d28;
}

/* HOME BLOCK */
.landing {
  height: 100vh;
  background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(98,9,121,1) 35%, rgba(0,212,255,1) 100%);
  font-size: 1.3rem;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 1100px) {
  .landing{
    font-size: 3.6rem;
  }
}

/* BUTTONS BLOCK */
.button {
  border: 0.2rem solid white;
  margin: 2rem;
  padding: 1rem;
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
}

.button:hover {
  background-color: white;
  color: black;
  transition-duration: 0.5s;
  /*filter:invert(100%);*/
}

.button--black {
  border: 0.2rem solid black;
  color: black;
}

.button--black:hover {
  background-color: black;
  color: white;
  transition-duration: 0.5s;
}

@media screen and (min-width: 1100px) {
  .button {
    font-size: 2.4rem;
  }
}


/* ABOUT BLOCK */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.about__content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__photo {
  border-radius: 300px;
  height: 200px;
  padding: 20px;
}

@media screen and (min-width: 1100px) {
  .about__content {
    flex-direction: row;
    justify-content: space-between;
    width: 60vw;
  }

  .about__content ul {
    width: 30vw;
  }

  .about__photo {
    width: 300px;
    height: 300px;
    border-radius: 300px;
  }
}

/* PROJECTS BLOCK */
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* CAROUSEL BLOCK */
.carousel {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-padding: 20vh 0;
  width: 80vw;
}

.carousel__tile {
  flex-shrink: 0;
  scroll-snap-align: center;
  width: 100vw;
  height: 67vw;
  background-color: rgba(0,212,255,0.4);
  text-align: center;
  display: inline-block;
  position: relative;
  margin: 0 20vw 5vh 20vw;
  border-radius: 2rem;
  text-decoration: none;
}

.carousel__tile:hover {
  background-color: rgba(158, 239, 255, 0.4);
  transition-duration: 0.5s;
}


/* CONTACT BLOCK */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(230,230,230);
}

.contact__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20vw;
  min-width: 200px;
}


.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

@media screen and (min-width: 1100px) {
  .form {
    width: 40vw;
  }
}

.form__item {
  background-color: white;
  border-radius: 0.15rem;
  padding: 0.5rem;
  width: 80%;
  margin: 0.2rem;
  
}


.form__item > input {
  width: 100%;
  /*flex: 4;*/
  font-family: inherit;

}

.form__item > textarea {
  /*flex: 1;*/
  width: 100%;
  font-family: inherit;
}


.form-group-hp {
  display: none;
}

.header {
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  padding: 20px;
}






/* Desktop Styles */
@media screen and (min-width: 1100px) {

  /* Adjust font sizes for desktop */
  .body {
    font-size: 3.2rem;
  }

  .header {
    font-size: 3.2rem;
  }

  /* Add off grey background to highlight section differences (looks weird on mobile) */
  .projects {
    background-color: #f5f5f5;
  }

  .topnav {
    justify-content: space-between;
  }

  /* make project gallery tiles bigger for desktop */
  .carousel__tile {
    width: 600px;
    height: 400px;
  }
}
