<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cycling South</title>
        <link href="../static/style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <meta name="viewport"
    content="with=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="topnav">
      <ul class="topnav__item">
        <li><a class="topnav__link" href="../#about">ABOUT</a></li>
        <li><a class="topnav__link" href="../#projects">PROJECTS</a></li>
        <li><a class="topnav__link" href="../#contact">CONTACT</a></li>
      </ul>
    </nav>
    <main>
                <div id="analogue-exif" class="project__content">
          <img class="project__photo" src="../static/cyclingsouth-screely-mockup_resize.png" alt="Cycling south mockup image">
          <div class="project__text">
            <h3 class="project__header">Cycling South Blog</h3>
<p class="project__description">I recently completed a year long cycle tour through Latin America from
                Seattle to northern Argentina (albeit with a pandemic induced hiatus in the middle!) To document this
                journey and share my photography I started a blog on the Adobe Portfolio platform. I found Portfolio
                not particularly well suited to my needs and so decided to see if I could build something better myself.
                <br><br>
                My key requirements were that I be able to upload photos and articles easily from the road, retain
                design freedom on how the website front end was constructed and for the website to provide an enjoyable
                user experience across a variety of end user devices. For these reasons I chose to use a headless CMS
                architecture, settling on Strapi, complemented by a front end built using the Angular framework.
                <br><br>
                I leveraged the capabilities of the Angular framework, such as using dependency injection to inject a
                service to resize image files based on viewport size.
                <br><br>
                Key Technologies: Strapi CMS, Angular, Responsive Web Design, TypeScript
          </div>
        </div>
    </main>

</body>
</html>