<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <Title>Toby Smith</title>
    <link href="static/style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <meta name="viewport"
    content="with=device-width, initial-scale=1.0">
  </head>
  <!-- NAV BAR -->
  <body>
    <nav class="topnav">
      <ul class="topnav__item">
        <li><a class="topnav__link" href="#" onclick="smoothScroll(`about`); return false;">ABOUT</a></li>
        <li><a class="topnav__link" href="#" onclick="smoothScroll(`projects`); return false;">PROJECTS</a></li>
        <li><a class="topnav__link" href="#" onclick="smoothScroll(`contact`); return false;">CONTACT</a></li>
      </ul>
    </nav>
    <main>
      <!--HOME SPLASH-->
      <section id="home" class="landing">
        <div>Hello, I'm Toby Smith.<br>I'm an aspiring web developer.</div>
        <a href="#" onclick="smoothScroll(`about`); return false;" class="button">Find out more</a>
      </section>
      <!--About me-->
      <section id="about" class="about">
        <div class="header">ABOUT</div>
        <div id="about-content" class="about__content">
        <div>
          <img class="about__photo" src="static/me.jpg" alt="A photo of Toby">
        </div>
        <p>
          Hi! My name is Toby and I'm an aspiring web developer based in Bristol. An aerospace engineer by training, I am now
          looking for a new challenge in web development.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
          <!-- <ul>
            <li>I am a highly motivated engineering manager with a proven track record of delivering quality results, taking on new challenges with enthusiasm and learning new skills quickly.</li>
            <br>
            <li>I am experienced in the use of MATLAB for engineering simulation, data manipulation and the development of new engineering tools.</li>
            <br>
            <li>After working on several complex technical projects, I am accustomed to taking a pragmatic approach to problem solving.</li>
            <br>
            <li>After several years working in the defence aerospace industry, I am looking to build upon my existing skill set and expand my horizons into the tech sector.</li>
            <br>
          </ul> -->
        </div>
          <a href="static/Toby_Smith_CV_public.pdf" target="_blank" class="button button--black">Download CV</a>
      </section>
      <!-- Projects Gallery -->
      <section id="projects" class="projects">
          <div class="header">PROJECTS</div>
          <div id="project1" class="project__content">
            <img class="project__photo" src="static/UpMock_template.png" alt="A placeholder project image">
            <p class="project__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div id="project2" class="project__content">
            <img class="project__photo" src="static/UpMock_template.png" alt="A placeholder project image">
            <p class="project__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          
        </section>
      <!-- Contact Me -->
      <section id="contact" class="contact">
        <div class="header">CONTACT</div>
        <form id="contact-form" class="form" action="", method="post">
            {{ form.hidden_tag() }}
          <div class="form__item">
            {{ form.name }}
        </div>
        <div class="form-group-hp">
          {{ form.lastname }}
        </div>
        <div class="form__item">
           {{ form.email }}
        </div>
        <div class="form__item">
          {{ form.message }}
        </div>
          <div class="form__item">
          {{ form.submit() }}
        </div>
        </form>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p>{{ messsage }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <div class="contact__icons">
          <a href="https://github.com/tw-smith" target="_blank"><img src="static/GitHub-Mark-32px.png" alt="GitHub logo" width="32";></a>
          <a href="https://www.linkedin.com/in/toby-smith-87b1185b" target="_blank"><img src="static/linkedin_blue.png" alt="LinkedIn logo" width="35"></a>
        </div>
      </section>

    </main>

    <script>
      function smoothScroll(element){
        document.getElementById(element).scrollIntoView({behavior:"smooth"});
      }
    </script>

  </body>
</html>
