<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <Title>Toby Smith</title>
    <link href="static/style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <meta name="viewport"
    content="with=device-width, initial-scale=1.0">
  </head>
  <!-- NAV BAR -->
  <body>
    <nav class="topnav">
      <ul class="topnav__links">
        <li><a href="#" onclick="smoothScroll(`about`); return false;">ABOUT</a></li>
        <li><a href="#" onclick="smoothScroll(`projects`); return false;">PROJECTS</a></li>
        <li><a href="#" onclick="smoothScroll(`contact`); return false;">CONTACT</a></li>
      </ul>
    </nav>
    <main>
      <!--HOME SPLASH-->
      <section id="home" class="flexbox container splash-background splash-text">
        <div>Hello, I'm Toby Smith.<br>I'm an aspiring web developer.</div>
        <a href="#" onclick="smoothScroll(`about`); return false;" class="button">Find out more</a>
      </section>
      <!--About me-->
      <section id="about" class="flexbox container">
        <div class="section-header">ABOUT</div>
        <div id="about-content" class="flexbox">
        <div>
          <img class="profile-photo" src="static/me.jpg" alt="A photo of Toby">
        </div>
          <ul>
            <li>I am a highly motivated engineering manager with a proven track record of delivering quality results, taking on new challenges with enthusiasm and learning new skills quickly.</li>
            <br>
            <li>I am experienced in the use of MATLAB for engineering simulation, data manipulation and the development of new engineering tools.</li>
            <br>
            <li>After working on several complex technical projects, I am accustomed to taking a pragmatic approach to problem solving.</li>
            <br>
            <li>After several years working in the defence aerospace industry, I am looking to build upon my existing skill set and expand my horizons into the tech sector.</li>
            <br>
          </ul>
        </div>
          <a href="static/Toby_Smith_CV_public.pdf" target="_blank" class="button black">Download CV</a>
      </section>
      <!-- Projects Gallery -->
      <section id="projects" class="flexbox">
          <div class="section-header">PROJECTS</div>
          <div id="gallery" class="carousel">
            <div class="gallery-tile">
              <p>Tile 1</p>
            </div>
           <div class="gallery-tile">
              <p>Tile 2</p>
            </div>
            <div class="gallery-tile">
              <p>Tile 3</p>
            </div>
            <div class="gallery-tile">
              <p>Tile 4</p>
            </div>
            <div class="gallery-tile">
              <p>Tile 5</p>
            </div>
            <div class="gallery-tile">
              <p>Tile 6</p>
            </div>
        </section>
      <!-- Contact Me -->
      <section id="contact" class="flexbox container">
        <div class="section-header">CONTACT</div>
        <div class="contact-strip">
          <a href="https://github.com/tw-smith" target="_blank"><img src="static/GitHub-Mark-32px.png" alt="GitHub logo" width="32";></a>
          <a href="https://www.linkedin.com/in/toby-smith-87b1185b" target="_blank"><img src="static/linkedin_blue.png" alt="LinkedIn logo" width="35"></a>


        </div>
      <!--  <div id="contact-modal" class="modal"> -->
        <form id="contact-form" class="flexbox" action="", method="post">
            {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.name }}
        </div>
        <div class="form-group-hp">
          {{ form.lastname }}
        </div>
        <div class="form-group">
           {{ form.email }}
        </div>
        <div class="form-group">
          {{ form.message }}
        </div>
          <div class="form-group">
          {{ form.submit() }}
        </div>
        </form>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p>{{ messsage }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
    <!--  </div> -->
      </section>

    </main>

    <script>
      function smoothScroll(element){
        document.getElementById(element).scrollIntoView({behavior:"smooth"});
      }
    </script>

  </body>
</html>
